.container{
    display:flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 90vh;  
}

h1{
    margin-bottom: 30px;
    text-shadow: 10px;
}

.primary{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px
}

.secondary{
    margin-left: 20px;
}

.card{
    background-color: #8080d0;
    padding: 4%;
    border-radius: 10px;
    size: 90%;
}

#main-unit{
    margin-right:4px; 
    border-radius: 10%;  
}

#second-unit{
    border-radius: 10%;
}

.main-unit-options{
    background-color: rgb(78, 135, 185);
    border-radius: 2px;
}

.second-unit-options{
    background-color: rgb(78, 135, 185);
}